
@import '~../client/assets/brush_lib/custom.css';
@import '~../client/assets/brush_lib/shCoreEmacs.css';

@import '~bootstrap/dist/css/bootstrap.css';

@import '~../node_modules/font-awesome/css/font-awesome.css';



/* Loader CSS */
.overlay{
    position: fixed;
    top:0px;
    left: 0px;
    opacity: 0.5;
    background-color:#555; 
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto 
}
.lds-dual-ring {
    /* display: inline-block; */
    margin: auto;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Loader CSS ends here */