<form class="form-horizontal forgotpassword-form" #forgotpasswordForm='ngForm' [formGroup]="form" (ngSubmit)="forgotpassword(forgotpasswordForm)" style="padding:20px">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="card-header text-center">
          <h2><i class="fa fa-lock fa-2x"></i></h2>
            <h2 class="modal-title">Forgot Password?</h2>
            <p>You can reset your password here.</p>
        </div>
        <div class="modal-body">
          <p>Type your email account</p>
          <input type="text" name="Email" formControlName="Email" id="Email" class="form-control">
          <div class='alert alert-danger Validation' *ngIf="Email.touched && Email.invalid">
              <div *ngIf="Email?.errors.required">Email required!</div>
              <div *ngIf="Email?.errors.email">Enter a valid Email ID</div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="reset" (click)="resetForm(forgotpasswordForm)" class="btn btn-default" >Cancel</button>
          <button type="submit" [disabled]='forgotpasswordForm.invalid' class="btn btn-primary">Recovery</button>
        </div>
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->

  </form>
